<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block style %}{% endblock %}

    <title>{{ title }}</title>
</head>
<body>
    {% block menu %}{% endblock %}

    <div class="ui one column stackable center aligned page grid">
        {# Mensagens flash, quando houver #}
        {% block flash %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="ui {{ category }} message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}

        {# Conteúdo #}
        {% block content %}{% endblock %}
    </div>

    <script>
        $(document).ready(function() {

            setTimeout(function() {
                $('.message').slideUp();
            }, 5000);

            $('.ui.dropdown').dropdown()
        });
    </script>
</body>
</html>