{% extends "layout.html" %}

{% block style %}
    <style type="text/css">
        body {
            background-color : darkslategrey;
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="one column wide" style="max-width: 450px;">
        <h2 class="ui header centered">
            Login
        </h2>
        <form action="/login" method="POST" class="ui inverted large form">
            <div class="ui inverted stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Usuário">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Senha">
                    </div>
                </div>
                <input type="submit" value="Logar" class="ui fluid large green submit button">
            </div>
            <div class="ui error message"></div>
        </form>

        <div class="ui inverted message">
            É novo? foda-se!
        </div>
    </div>

<script>

    // Sumir com a mensagem após 5 segundos
    setTimeout(function() {
        message = document.getElementById("message");
        message.style.display = 'none';
    }, 5000);

</script>
{% endblock %}